<br>
<div class="container">
  <div id="warehouseController">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Warehouse API</h1>
          <hr></hr>
          <br>
          <h4>Warehouses</h4>
          <hr></hr>
          <p>Please select a warehouse from the list below.</p>
          <ul id="menu">
            <li v-for="item in items">
              <a v-bind:href="'/warehouse/' + item.id">{{ item.name }}</a>
            </li>
          </ul>
          <hr></hr>
          <div>
            <h4>Add Warehouse</h4>
            <p>Add a new warehouse by name</p>
            <a class="btn btn-primary" v-bind:href="'/warehouse/create'">Create New Warehouse</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  window.onload(function () {
    setTimeout(function () {
      window.dispatchEvent(new Event('warehouse_list'));
    }, 200);
  })

</script>
