<div class="container">
  <hr></hr>

  <div id="warehouseController">
    <div class="container">


      <div class="row">
        <div class="col-sm-12">
          <h3>
            Open Orders
          </h3>

          <ul id="example-1">
            <li v-for="item in items">
              <!--<a v-bind:href="'?name=' + item.name">{{ item.name }}</a>-->

              <a v-bind:href="'/warehouse/' + warehouse +  '/order/' + item.id">{{ item.id }}</a>
            </li>
          </ul>


          <br><br>
          <a href="/">< back</a>

        </div>
      </div> <!-- / row -->

  </div>
</div>
</div>

<script>
  setTimeout(function () {
    window.dispatchEvent(new CustomEvent('warehouse_openOrders', {
      detail: {
        warehouse: Number(<%= warehouse%>)
      }
    }));
  }, 0);
</script>
