<div class="container">
  <hr></hr>

  <div id="warehouseController">

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>
            Place Order
          </h3>
        </div>
      </div> <!-- / row -->

      <!-- Warehouse-->
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="warehouse">Warehouse</label>
            <input type="text" class="form-control" value="" v-model="warehouse" />
          </div>
        </div>
      </div>
      <!-- / row -->

      <ul id="example-1">
        <div v-for="item in items">
          <!-- row -->
          <!-- UPC-->
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="upc">UPC</label>
                <input type="text" class="form-control" value="" v-model="item.upc" />
              </div>
            </div>

            <!-- Quantity-->
            <div class="col-sm-6">
              <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="text" class="form-control" value="" v-model="item.quantity" />
              </div>
            </div>
          </div>
          <!-- / row -->
        </div>
      </ul>



      <div class="row">
        <div class="col-sm-12">
          <a href="#" class="btn btn-success" @click="placeOrder">Place Order</a>
          <span v-if="processing">Please Wait ...</span>
          <span v-if="status">{{ $data.status }}</span>
        </div>
      </div> <!-- / row -->
      <br><br>
      <a v-bind:href="'/warehouse/' + warehouse">< back</a>


      <div>&nbsp;</div>
      <div class="row" v-if="debug">
        <div class="col-sm-12">
          <pre>{{ $data }}</pre>
        </div>
      </div>

    </div>

    <div v-if="status == 'OK'" class="container">
      <p class="alert alert-success text-center">Order ID: {{ response.body.id }} Placed </p>
    </div>

    <div v-if="error" class="container">
      <p class="alert alert-danger text-center">Error {{ error }}</p>
    </div>

  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    window.dispatchEvent(new CustomEvent('warehouse_params', {
      detail: {
        warehouse: "<%= warehouse%>"
      }
    }));
  });
</script>
